Repository jimmy-guzman/ahorita: changes, and which lefthook commands are due for each by the changed paths.
All: check, sort-package-json

check:
  run: bunx biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

sort-package-json:
  run: bunx sort-package-json {staged_files} && git update-index --again

feat: ✨ make navbar sticky
  frontend/src/routes/groups/route.lazy.tsx
Due: check

feat: ✨ make navbar sticky (#73)
  frontend/src/routes/groups/route.lazy.tsx
Due: check

refactor: ♻️ rename frontend groups routes to projects
  frontend/src/api/delete-group.ts
  frontend/src/api/edit-group.ts
  frontend/src/route-tree.gen.ts
  frontend/src/routes/index.tsx
  frontend/src/routes/projects/$projectId/-components/delete-group.tsx
  frontend/src/routes/projects/$projectId/-components/edit-group.tsx
  frontend/src/routes/projects/$projectId/route.lazy.tsx
  frontend/src/routes/projects/$projectId/route.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/columns.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/delete-task-action.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/rename-task-action.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-priority-cell.spec.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-priority-cell.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-row-actions.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-status-cell.spec.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-status-cell.tsx
  frontend/src/routes/projects/$projectId/tasks/index.tsx
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
  frontend/src/routes/projects/$projectId/tasks/new/route.tsx
  frontend/src/routes/projects/$projectId/tasks/route.tsx
  frontend/src/routes/projects/-components/groups-menu-item.tsx
  frontend/src/routes/projects/new/-components/create-group-form.tsx
  frontend/src/routes/projects/new/route.lazy.tsx
  frontend/src/routes/projects/route.lazy.tsx
  frontend/src/routes/projects/route.tsx
Due: check

refactor: ♻️ rename frontend groups routes to projects (#74)
  frontend/src/api/delete-group.ts
  frontend/src/api/edit-group.ts
  frontend/src/route-tree.gen.ts
  frontend/src/routes/index.tsx
  frontend/src/routes/projects/$projectId/-components/delete-group.tsx
  frontend/src/routes/projects/$projectId/-components/edit-group.tsx
  frontend/src/routes/projects/$projectId/route.lazy.tsx
  frontend/src/routes/projects/$projectId/route.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/columns.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/delete-task-action.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/rename-task-action.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-priority-cell.spec.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-priority-cell.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-row-actions.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-status-cell.spec.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-status-cell.tsx
  frontend/src/routes/projects/$projectId/tasks/index.tsx
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
  frontend/src/routes/projects/$projectId/tasks/new/route.tsx
  frontend/src/routes/projects/$projectId/tasks/route.tsx
  frontend/src/routes/projects/-components/groups-menu-item.tsx
  frontend/src/routes/projects/new/-components/create-group-form.tsx
  frontend/src/routes/projects/new/route.lazy.tsx
  frontend/src/routes/projects/route.lazy.tsx
  frontend/src/routes/projects/route.tsx
Due: check

refactor: ♻️ rename frontend group files to project
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/api/query-project.ts
  frontend/src/api/query-projects.ts
  frontend/src/api/query-tasks-by-project.ts
  frontend/src/routes/projects/$projectId/-components/delete-project.tsx
  frontend/src/routes/projects/$projectId/-components/edit-project.tsx
  frontend/src/routes/projects/$projectId/route.lazy.tsx
  frontend/src/routes/projects/$projectId/route.tsx
  frontend/src/routes/projects/$projectId/tasks/index.tsx
  frontend/src/routes/projects/-components/projects-menu-item.tsx
  frontend/src/routes/projects/new/-components/create-project-form.tsx
  frontend/src/routes/projects/new/route.lazy.tsx
  frontend/src/routes/projects/route.lazy.tsx
  frontend/src/routes/projects/route.tsx
Due: check

refactor: ♻️ rename frontend group files to project (#75)
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/api/query-project.ts
  frontend/src/api/query-projects.ts
  frontend/src/api/query-tasks-by-project.ts
  frontend/src/routes/projects/$projectId/-components/delete-project.tsx
  frontend/src/routes/projects/$projectId/-components/edit-project.tsx
  frontend/src/routes/projects/$projectId/route.lazy.tsx
  frontend/src/routes/projects/$projectId/route.tsx
  frontend/src/routes/projects/$projectId/tasks/index.tsx
  frontend/src/routes/projects/-components/projects-menu-item.tsx
  frontend/src/routes/projects/new/-components/create-project-form.tsx
  frontend/src/routes/projects/new/route.lazy.tsx
  frontend/src/routes/projects/route.lazy.tsx
  frontend/src/routes/projects/route.tsx
Due: check

refactor: ♻️ rename frontend group methods to project
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/api/query-project.ts
  frontend/src/api/query-projects.ts
  frontend/src/api/query-tasks-by-project.ts
  frontend/src/routes/projects/$projectId/-components/delete-project.tsx
  frontend/src/routes/projects/$projectId/-components/edit-project.tsx
  frontend/src/routes/projects/$projectId/route.lazy.tsx
  frontend/src/routes/projects/$projectId/route.tsx
  frontend/src/routes/projects/$projectId/tasks/index.tsx
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
  frontend/src/routes/projects/-components/projects-menu-item.tsx
  frontend/src/routes/projects/new/-components/create-project-form.tsx
  frontend/src/routes/projects/new/route.lazy.tsx
  frontend/src/routes/projects/route.lazy.tsx
  frontend/src/routes/projects/route.tsx
Due: check

refactor: ♻️ rename frontend group methods to project (#76)
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/api/query-project.ts
  frontend/src/api/query-projects.ts
  frontend/src/api/query-tasks-by-project.ts
  frontend/src/routes/projects/$projectId/-components/delete-project.tsx
  frontend/src/routes/projects/$projectId/-components/edit-project.tsx
  frontend/src/routes/projects/$projectId/route.lazy.tsx
  frontend/src/routes/projects/$projectId/route.tsx
  frontend/src/routes/projects/$projectId/tasks/index.tsx
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
  frontend/src/routes/projects/-components/projects-menu-item.tsx
  frontend/src/routes/projects/new/-components/create-project-form.tsx
  frontend/src/routes/projects/new/route.lazy.tsx
  frontend/src/routes/projects/route.lazy.tsx
  frontend/src/routes/projects/route.tsx
Due: check

refactor: ♻️ rename backend group properties to project
  backend/src/index.ts
  backend/src/models/projects.ts
  backend/src/routes/projects.ts
  backend/src/schemas/tasks.ts
  backend/src/schemas/users.ts
Due: check

refactor: ♻️ rename /groups api routes to/ projects
  backend/src/routes/projects.ts
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/query-project.ts
  frontend/src/api/query-projects.ts
  frontend/src/api/query-tasks-by-project.ts
Due: check

refactor: ♻️ rename `group` to `project` within db
  backend/src/models/tasks.ts
  backend/src/routes/projects.ts
  backend/src/schemas/tasks.ts
  backend/src/schemas/users.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-task.ts
  frontend/src/routes/projects/$projectId/tasks/-components/columns.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-row-actions.tsx
Due: check

refactor: ♻️ bump `@biomejs/biome` to v1.6.1 & enable more rules
  .vscode/settings.json
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/routes/projects.ts
  biome.json
  bun.lockb
  frontend/__mocks__/zustand.ts
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/api/query-project.ts
  frontend/src/api/query-projects.ts
  frontend/src/api/query-tasks-by-project.ts
  frontend/src/components/filters.ts
  frontend/src/components/logout.tsx
  frontend/src/components/table.spec.tsx
  frontend/src/components/table.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/projects/$projectId/-components/delete-project.tsx
  frontend/src/routes/projects/route.tsx
  frontend/src/routes/signup.tsx
  frontend/vite.config.ts
  package.json
Due: check, sort-package-json

refactor: ♻️ bump `@biomejs/biome` to v1.6.1 & enable more rules (#78)
  .vscode/settings.json
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/routes/projects.ts
  biome.json
  bun.lockb
  frontend/__mocks__/zustand.ts
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/api/query-project.ts
  frontend/src/api/query-projects.ts
  frontend/src/api/query-tasks-by-project.ts
  frontend/src/components/filters.ts
  frontend/src/components/logout.tsx
  frontend/src/components/table.spec.tsx
  frontend/src/components/table.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/projects/$projectId/-components/delete-project.tsx
  frontend/src/routes/projects/route.tsx
  frontend/src/routes/signup.tsx
  frontend/vite.config.ts
  package.json
Due: check, sort-package-json

feat: ✨ improve iconography w/ icons that make sense
  biome.json
  frontend/src/routes/index.tsx
  frontend/src/routes/projects/$projectId/-components/delete-project.tsx
  frontend/src/routes/projects/$projectId/-components/edit-project.tsx
  frontend/src/routes/projects/$projectId/-components/project-details.tsx
  frontend/src/routes/projects/$projectId/route.lazy.tsx
  frontend/src/routes/projects/$projectId/tasks/index.tsx
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
  frontend/src/routes/projects/-components/projects-menu-item.tsx
  frontend/src/routes/projects/new/-components/create-project-form.tsx
  frontend/src/routes/projects/route.lazy.tsx
Due: check

feat: ✨ improve iconography w/ icons that make sense (#79)
  biome.json
  frontend/src/routes/index.tsx
  frontend/src/routes/projects/$projectId/-components/delete-project.tsx
  frontend/src/routes/projects/$projectId/-components/edit-project.tsx
  frontend/src/routes/projects/$projectId/-components/project-details.tsx
  frontend/src/routes/projects/$projectId/route.lazy.tsx
  frontend/src/routes/projects/$projectId/tasks/index.tsx
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
  frontend/src/routes/projects/-components/projects-menu-item.tsx
  frontend/src/routes/projects/new/-components/create-project-form.tsx
  frontend/src/routes/projects/route.lazy.tsx
Due: check

feat: ✨ improve project's tasks mobile UX
  bun.lockb
  frontend/src/components/logout.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/routes/projects/$projectId/-components/delete-project.tsx
  frontend/src/routes/projects/$projectId/-components/edit-project.tsx
  frontend/src/routes/projects/$projectId/-components/project-details.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-priority-cell.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-status-cell.tsx
  frontend/src/routes/projects/route.lazy.tsx
  package.json
Due: check, sort-package-json

feat: ✨ improve project's tasks mobile UX (#80)
  bun.lockb
  frontend/src/components/logout.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/routes/projects/$projectId/-components/delete-project.tsx
  frontend/src/routes/projects/$projectId/-components/edit-project.tsx
  frontend/src/routes/projects/$projectId/-components/project-details.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-priority-cell.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-status-cell.tsx
  frontend/src/routes/projects/route.lazy.tsx
  package.json
Due: check, sort-package-json

feat: ✨ bump `elysia` to v1
  backend/package.json
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/routes/users.ts
  bun.lockb
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/api/query-project.ts
  frontend/src/api/query-projects.ts
  frontend/src/api/query-tasks-by-project.ts
  frontend/src/components/logout.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/signup.tsx
Due: check, sort-package-json

feat: ✨ bump `elysia` to v1 (#81)
  backend/package.json
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/src/routes/users.ts
  bun.lockb
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/api/query-project.ts
  frontend/src/api/query-projects.ts
  frontend/src/api/query-tasks-by-project.ts
  frontend/src/components/logout.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/signup.tsx
Due: check, sort-package-json

fix: 🐛 always send request method as uppercase
  backend/src/index.ts
  bun.lockb
  frontend/package.json
  frontend/src/api/client.ts
Due: check, sort-package-json

fix: 🐛 always send request method as uppercase (#82)
  backend/src/index.ts
  bun.lockb
  frontend/package.json
  frontend/src/api/client.ts
Due: check, sort-package-json

refactor: ♻️ use full names for api path params
  backend/src/routes/projects.ts
  backend/src/routes/tasks.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/api/query-project.ts
  frontend/src/api/query-tasks-by-project.ts
  frontend/src/routes/projects/$projectId/-components/edit-project.tsx
  frontend/src/routes/projects/$projectId/-components/project-details.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/delete-task-action.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/rename-task-action.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-row-actions.tsx
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
Due: check

refactor: ♻️ use full names for api path params (#83)
  backend/src/routes/projects.ts
  backend/src/routes/tasks.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/api/query-project.ts
  frontend/src/api/query-tasks-by-project.ts
  frontend/src/routes/projects/$projectId/-components/edit-project.tsx
  frontend/src/routes/projects/$projectId/-components/project-details.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/delete-task-action.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/rename-task-action.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-row-actions.tsx
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
Due: check

refactor: ♻️ simplify `status` & `priority` enums
  backend/src/models/tasks.ts
  backend/src/routes/auth.ts
  backend/src/schemas/tasks.ts
  bun.lockb
  frontend/package.json
  frontend/src/constants/tasks.ts
  frontend/src/routes/projects/$projectId/-components/project-details.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/columns.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-priority-cell.spec.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-priority-cell.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-row-actions.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-status-cell.spec.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-status-cell.tsx
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
Due: check, sort-package-json

refactor: ♻️ simplify `status` & `priority` enums (#84)
  backend/src/models/tasks.ts
  backend/src/routes/auth.ts
  backend/src/schemas/tasks.ts
  bun.lockb
  frontend/package.json
  frontend/src/constants/tasks.ts
  frontend/src/routes/projects/$projectId/-components/project-details.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/columns.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-priority-cell.spec.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-priority-cell.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-row-actions.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-status-cell.spec.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-status-cell.tsx
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
Due: check, sort-package-json

refactor: ♻️ switch to `valibot` for better form error messages
  .vscode/settings.json
  bun.lockb
  frontend/package.json
  frontend/src/routes/login.tsx
  frontend/src/routes/projects/$projectId/-components/edit-project.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/rename-task-action.tsx
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
  frontend/src/routes/projects/new/-components/create-project-form.tsx
  frontend/src/routes/signup.tsx
Due: check, sort-package-json

refactor: ♻️ switch to `valibot` for better form error messages (#85)
  .vscode/settings.json
  bun.lockb
  frontend/package.json
  frontend/src/routes/login.tsx
  frontend/src/routes/projects/$projectId/-components/edit-project.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/rename-task-action.tsx
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
  frontend/src/routes/projects/new/-components/create-project-form.tsx
  frontend/src/routes/signup.tsx
Due: check, sort-package-json

refactor: ♻️ use more types directly from backend
  .vscode/settings.json
  README.md
  backend/src/models/projects.ts
  backend/src/models/tasks.ts
  backend/src/routes/projects.ts
  backend/src/routes/tasks.ts
  backend/src/routes/users.ts
  frontend/src/api/client.ts
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/constants/tasks.ts
  frontend/src/routes/projects/$projectId/tasks/-components/columns.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-priority-cell.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-row-actions.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-status-cell.tsx
Due: check

refactor: ♻️ use more types directly from backend (#86)
  .vscode/settings.json
  README.md
  backend/src/models/projects.ts
  backend/src/models/tasks.ts
  backend/src/routes/projects.ts
  backend/src/routes/tasks.ts
  backend/src/routes/users.ts
  frontend/src/api/client.ts
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/constants/tasks.ts
  frontend/src/routes/projects/$projectId/tasks/-components/columns.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-priority-cell.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-row-actions.tsx
  frontend/src/routes/projects/$projectId/tasks/-components/tasks-table-status-cell.tsx
Due: check

chore: 🤖 bump `bun` to v1.0.32
  .github/workflows/CI.yml
Due: none

chore: 🤖 bump `bun` to v1.0.32 (#87)
  .github/workflows/CI.yml
Due: none

chore: 🤖 bump `elysia` to v1.0.4
  backend/package.json
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

chore: 🤖 bump `elysia` to v1.0.4 (#89)
  backend/package.json
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

refactor: ♻️ use flat file based routing structure for backend
  backend/src/index.ts
  backend/src/routes/projects.$projectId.tasks.ts
  backend/src/routes/projects.$projectId.ts
  backend/src/routes/projects.ts
  backend/src/routes/tasks.$taskId.ts
  backend/src/routes/tasks.ts
  biome.json
  turbo.json
Due: check

refactor: ♻️ use flat file based routing structure for backend (#88)
  backend/src/index.ts
  backend/src/routes/projects.$projectId.tasks.ts
  backend/src/routes/projects.$projectId.ts
  backend/src/routes/projects.ts
  backend/src/routes/tasks.$taskId.ts
  backend/src/routes/tasks.ts
  biome.json
  turbo.json
Due: check

chore: 🤖 bump `drizzle-orm` to v0.30.3
  backend/package.json
  backend/src/db.ts
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

chore: 🤖 bump `drizzle-orm` to v0.30.3 (#90)
  backend/package.json
  backend/src/db.ts
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  sort-package-json: any of: {,**/}package.json
