Repository jimmy-guzman/ahorita: changes, and which lefthook commands are due for each by the changed paths.
All: check, sort-package-json

check:
  run: bunx biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

sort-package-json:
  run: bunx sort-package-json {staged_files} && git update-index --again

feat: ✨ add ability to favorite groups
  apps/api/src/models/groups.ts
  apps/api/src/routes/groups.ts
  apps/api/src/schemas/tasks.ts
  apps/ui/src/api/edit-group.ts
  apps/ui/src/routes/groups/$groupId/route.tsx
  apps/ui/src/routes/groups/route.tsx
Due: check

feat: ✨ add ability to favorite groups (#33)
  apps/api/src/models/groups.ts
  apps/api/src/routes/groups.ts
  apps/api/src/schemas/tasks.ts
  apps/ui/src/api/edit-group.ts
  apps/ui/src/routes/groups/$groupId/route.tsx
  apps/ui/src/routes/groups/route.tsx
Due: check

refactor: ♻️ rename add to create everywhere
  apps/ui/src/api/create-group.ts
  apps/ui/src/api/create-task.ts
  apps/ui/src/route-tree.gen.ts
  apps/ui/src/routes/groups/$groupId/route.tsx
  apps/ui/src/routes/groups/$groupId/tasks/new/-components/create-task-form.tsx
  apps/ui/src/routes/groups/$groupId/tasks/new/route.tsx
  apps/ui/src/routes/groups/new/route.tsx
  apps/ui/src/routes/groups/route.tsx
  apps/ui/src/routes/index.tsx
Due: check

refactor: ♻️ rename add to create everywhere (#34)
  apps/ui/src/api/create-group.ts
  apps/ui/src/api/create-task.ts
  apps/ui/src/route-tree.gen.ts
  apps/ui/src/routes/groups/$groupId/route.tsx
  apps/ui/src/routes/groups/$groupId/tasks/new/-components/create-task-form.tsx
  apps/ui/src/routes/groups/$groupId/tasks/new/route.tsx
  apps/ui/src/routes/groups/new/route.tsx
  apps/ui/src/routes/groups/route.tsx
  apps/ui/src/routes/index.tsx
Due: check

feat: ✨ improve language within forms
  apps/ui/src/routes/groups/$groupId/tasks/index.tsx
  apps/ui/src/routes/groups/$groupId/tasks/new/-components/create-task-form.tsx
  apps/ui/src/routes/groups/new/route.tsx
  apps/ui/src/routes/login.tsx
  apps/ui/src/routes/signup.tsx
Due: check

feat: ✨ improve language within forms (#35)
  apps/ui/src/routes/groups/$groupId/tasks/index.tsx
  apps/ui/src/routes/groups/$groupId/tasks/new/-components/create-task-form.tsx
  apps/ui/src/routes/groups/new/route.tsx
  apps/ui/src/routes/login.tsx
  apps/ui/src/routes/signup.tsx
Due: check

chore: 🤖 bump `@tanstack/react-router` v1.19.1
  apps/ui/package.json
  bun.lockb
Due: check, sort-package-json

chore: 🤖 bump `@tanstack/react-router` v1.19.1 (#36)
  apps/ui/package.json
  bun.lockb
Due: check, sort-package-json

fix: 🐛 only invalidate date entries that are needed
  apps/api/src/env.d.ts
  apps/ui/src/api/create-task.ts
  apps/ui/src/api/delete-task.ts
  apps/ui/src/api/edit-task.ts
  apps/ui/src/components/table.tsx
  apps/ui/src/routes/groups/$groupId/tasks/-components/columns.tsx
Due: check

fix: 🐛 only invalidate date entries that are needed (#37)
  apps/api/src/env.d.ts
  apps/ui/src/api/create-task.ts
  apps/ui/src/api/delete-task.ts
  apps/ui/src/api/edit-task.ts
  apps/ui/src/components/table.tsx
  apps/ui/src/routes/groups/$groupId/tasks/-components/columns.tsx
Due: check

feat: ✨ add group icon
  apps/api/src/models/groups.ts
  apps/api/src/routes/groups.ts
  apps/api/src/schemas/tasks.ts
  apps/ui/package.json
  apps/ui/src/components/text-input.tsx
  apps/ui/src/route-tree.gen.ts
  apps/ui/src/routes/groups/$groupId/route.tsx
  apps/ui/src/routes/groups/-components/groups-menu-item.tsx
  apps/ui/src/routes/groups/new/-components/create-group-form.tsx
  apps/ui/src/routes/groups/new/route.lazy.tsx
  apps/ui/src/routes/groups/new/route.tsx
  apps/ui/src/routes/groups/route.tsx
  bun.lockb
  package.json
Due: check, sort-package-json

feat: ✨ add group icon (#38)
  apps/api/src/models/groups.ts
  apps/api/src/routes/groups.ts
  apps/api/src/schemas/tasks.ts
  apps/ui/package.json
  apps/ui/src/components/text-input.tsx
  apps/ui/src/route-tree.gen.ts
  apps/ui/src/routes/groups/$groupId/route.tsx
  apps/ui/src/routes/groups/-components/groups-menu-item.tsx
  apps/ui/src/routes/groups/new/-components/create-group-form.tsx
  apps/ui/src/routes/groups/new/route.lazy.tsx
  apps/ui/src/routes/groups/new/route.tsx
  apps/ui/src/routes/groups/route.tsx
  bun.lockb
  package.json
Due: check, sort-package-json

feat: ✨ optimisticly delete groups when success
  apps/ui/src/api/delete-group.ts
Due: check

feat: ✨ optimisticly delete groups when success (#39)
  apps/ui/src/api/delete-group.ts
Due: check

chore: 🤖 bump `bun` to v1.0.30
  .github/workflows/CI.yml
Due: none

chore: 🤖 bump `bun` to v1.0.30 (#40)
  .github/workflows/CI.yml
Due: none

feat: ✨ adding labels table
  apps/api/src/schemas/tasks.ts
Due: check

feat: ✨ adding labels table to db (#41)
  apps/api/src/schemas/tasks.ts
Due: check

refactor: ♻️ use label name instead of id
  apps/api/src/index.ts
  apps/api/src/models/labels.ts
  apps/api/src/models/tasks.ts
  apps/api/src/routes/labels.ts
  apps/api/src/routes/tasks.ts
  apps/api/src/schemas/tasks.ts
  apps/ui/package.json
  apps/ui/src/routes/groups/$groupId/tasks/-components/columns.tsx
  apps/ui/src/routes/groups/$groupId/tasks/-components/tasks-table-name-cell.tsx
  bun.lockb
Due: check, sort-package-json

refactor: ♻️ use label name instead of id (#42)
  apps/api/src/index.ts
  apps/api/src/models/labels.ts
  apps/api/src/models/tasks.ts
  apps/api/src/routes/labels.ts
  apps/api/src/routes/tasks.ts
  apps/api/src/schemas/tasks.ts
  apps/ui/package.json
  apps/ui/src/routes/groups/$groupId/tasks/-components/columns.tsx
  apps/ui/src/routes/groups/$groupId/tasks/-components/tasks-table-name-cell.tsx
  bun.lockb
Due: check, sort-package-json

chore: 🤖 avoid biome nursery opts cause of time outs
  backend/package.json
  biome.json
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

chore: 🤖 avoid biome nursery opts cause of time outs (#44)
  backend/package.json
  biome.json
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

chore: 🤖 bring back biome nursery opts but pin nightly
  biome.json
  bun.lockb
  package.json
Due: check, sort-package-json

chore: 🤖 bring back biome nursery opts but pin nightly (#45)
  biome.json
  bun.lockb
  package.json
Due: check, sort-package-json

feat: ✨ bump `drizzle-orm` to v0.30.1
  README.md
  backend/package.json
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

feat: ✨ bump `drizzle-orm` to v0.30.1 (#46)
  README.md
  backend/package.json
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

feat: ✨ bump `lucia` to v3.1.1
  backend/package.json
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

feat: ✨ bump `lucia` to v3.1.1 (#47)
  backend/package.json
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

feat: ✨ add initial tasks table filtering
  .env.example
  bun.lockb
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/components/filters.ts
  frontend/src/components/table.spec.tsx
  frontend/src/components/table.tsx
  frontend/src/env.d.ts
  frontend/src/routes/groups/$groupId/tasks/-components/columns.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-row-actions.tsx
  frontend/src/routes/groups/$groupId/tasks/index.tsx
  frontend/src/routes/groups/route.tsx
Due: check, sort-package-json

feat: ✨ add initial version of tasks table filter (#48)
  .env.example
  bun.lockb
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/components/filters.ts
  frontend/src/components/table.spec.tsx
  frontend/src/components/table.tsx
  frontend/src/env.d.ts
  frontend/src/routes/groups/$groupId/tasks/-components/columns.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-row-actions.tsx
  frontend/src/routes/groups/$groupId/tasks/index.tsx
  frontend/src/routes/groups/route.tsx
Due: check, sort-package-json

feat: ✨ add light/dark mode toggle
  .vscode/settings.json
  bun.lockb
  frontend/__mocks__/zustand.ts
  frontend/package.json
  frontend/src/components/theme-toggle.spec.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/routes/groups/route.tsx
  frontend/src/stores/app.ts
  frontend/src/testing/setup.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Due: check, sort-package-json

feat: ✨ add light/dark mode toggle (#49)
  .vscode/settings.json
  bun.lockb
  frontend/__mocks__/zustand.ts
  frontend/package.json
  frontend/src/components/theme-toggle.spec.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/routes/groups/route.tsx
  frontend/src/stores/app.ts
  frontend/src/testing/setup.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Due: check, sort-package-json

refactor: ♻️ use `enum` instead of `text` for tasks table
  backend/src/schemas/tasks.ts
  frontend/src/routes/groups/$groupId/tasks/index.tsx
  frontend/src/routes/groups/$groupId/tasks/new/-components/create-task-form.tsx
Due: check

refactor: ♻️ use `enum` instead of `text` for tasks table (#50)
  backend/src/schemas/tasks.ts
  frontend/src/routes/groups/$groupId/tasks/index.tsx
  frontend/src/routes/groups/$groupId/tasks/new/-components/create-task-form.tsx
Due: check

feat: ✨ improve load times by code splitting groups route
  frontend/src/route-tree.gen.ts
  frontend/src/routes/groups/route.lazy.tsx
  frontend/src/routes/groups/route.tsx
Due: check

feat: ✨ improve load times by code splitting groups route (#51)
  frontend/src/route-tree.gen.ts
  frontend/src/routes/groups/route.lazy.tsx
  frontend/src/routes/groups/route.tsx
Due: check

feat: ✨ add label to task's table & creation
  backend/src/index.ts
  backend/src/models/labels.ts
  backend/src/models/tasks.ts
  backend/src/routes/groups.ts
  backend/src/routes/labels.ts
  backend/src/schemas/tasks.ts
  bun.lockb
  frontend/package.json
  frontend/src/components/table.tsx
  frontend/src/constants/tasks.ts
  frontend/src/query-client.ts
  frontend/src/routes/groups/$groupId/tasks/-components/columns.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-name-cell.tsx
  frontend/src/routes/groups/$groupId/tasks/index.tsx
  frontend/src/routes/groups/$groupId/tasks/new/-components/create-task-form.tsx
  frontend/src/routes/groups/route.lazy.tsx
Due: check, sort-package-json

feat: ✨ add label to task's table & creation (#52)
  backend/src/index.ts
  backend/src/models/labels.ts
  backend/src/models/tasks.ts
  backend/src/routes/groups.ts
  backend/src/routes/labels.ts
  backend/src/schemas/tasks.ts
  bun.lockb
  frontend/package.json
  frontend/src/components/table.tsx
  frontend/src/constants/tasks.ts
  frontend/src/query-client.ts
  frontend/src/routes/groups/$groupId/tasks/-components/columns.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-name-cell.tsx
  frontend/src/routes/groups/$groupId/tasks/index.tsx
  frontend/src/routes/groups/$groupId/tasks/new/-components/create-task-form.tsx
  frontend/src/routes/groups/route.lazy.tsx
Due: check, sort-package-json

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  sort-package-json: any of: {,**/}package.json
