Repository jimmy-guzman/ahorita: changes, and which lefthook commands are due for each by the changed paths.
All: check, sort-package-json

check:
  run: bunx biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

sort-package-json:
  run: bunx sort-package-json {staged_files} && git update-index --again

feat: ✨ add tooltip to project's actions
  backend/src/schemas/projects.ts
  backend/src/utils.ts
  frontend/src/components/delete-project.tsx
  frontend/src/components/edit-project.tsx
  frontend/src/components/project-actions.tsx
  frontend/src/components/project-details.tsx
Due: check

feat: ✨ bump a few depts to latest including major
  .github/actions/setup/action.yml
  backend/package.json
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/components/create-project-form.tsx
  frontend/src/components/create-task-form.tsx
  frontend/src/components/edit-project.tsx
  frontend/src/components/rename-task-action.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/signup.tsx
  lefthook.yml
  package.json
Due: check, sort-package-json

ci: 👷 add timeout to workflows
  .github/workflows/CI.yml
  package.json
  turbo.json
Due: check, sort-package-json

chore: 🤖 bump `turbo` to v2
  bun.lockb
  package.json
  turbo.json
Due: check, sort-package-json

feat: ✨ add env variables validation
  backend/drizzle.config.ts
  backend/package.json
  backend/src/db.ts
  backend/src/env.d.ts
  backend/src/env.ts
  backend/src/index.ts
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

fix: 🐛 add missing descriptions to alert modals
  .github/actions/setup/action.yml
  backend/package.json
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/components/delete-project.tsx
  frontend/src/components/delete-task-action.tsx
  frontend/src/routes/projects.tsx
  package.json
Due: check, sort-package-json

fix: 🐛 add missing descriptions to alert dialogs (#135)
  .github/actions/setup/action.yml
  backend/package.json
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/components/delete-project.tsx
  frontend/src/components/delete-task-action.tsx
  frontend/src/routes/projects.tsx
  package.json
Due: check, sort-package-json

feat: ✨ bump a few deps to latest
  .github/actions/setup/action.yml
  backend/package.json
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/components/table.tsx
  frontend/src/routes/projects.tsx
  package.json
Due: check, sort-package-json

feat: ✨ bump a few deps to latest (#136)
  .github/actions/setup/action.yml
  backend/package.json
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/components/table.tsx
  frontend/src/routes/projects.tsx
  package.json
Due: check, sort-package-json

refactor: ♻️ add `knip` to find unused files, deps & exports
  .github/workflows/CI.yml
  .knip.json
  .vscode/settings.json
  backend/package.json
  backend/src/db.ts
  backend/src/models/projects.ts
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

refactor: ♻️ add `knip` to find unused files, deps & exports (#137)
  .github/workflows/CI.yml
  .knip.json
  .vscode/settings.json
  backend/package.json
  backend/src/db.ts
  backend/src/models/projects.ts
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

chore: 🤖 add `knip` to pre commit hooks
  .lefthook.json
  README.md
  lefthook.yml
Due: check

chore: 🤖 add `knip` to pre commit hooks (#138)
  .lefthook.json
  README.md
  lefthook.yml
Due: check

feat: ✨ bump everything to latest including major versions
  .github/actions/setup/action.yml
  backend/package.json
  backend/src/index.ts
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

feat: ✨ bump everything to latest including major versions (#139)
  .github/actions/setup/action.yml
  backend/package.json
  backend/src/index.ts
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

feat: ✨ add find task by id route
  .env.example
  .github/actions/setup/action.yml
  backend/package.json
  backend/src/routes/tasks.$taskId.ts
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

feat: ✨ add find task by id route (#140)
  .env.example
  .github/actions/setup/action.yml
  backend/package.json
  backend/src/routes/tasks.$taskId.ts
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

refactor: ♻️ make endpoint's summaries consistent
  .github/actions/setup/action.yml
  backend/package.json
  backend/src/routes/auth.ts
  backend/src/routes/projects.$projectId.ts
  backend/src/routes/projects.ts
  backend/src/routes/tasks.$taskId.ts
  backend/src/routes/tasks.ts
  backend/src/routes/users.ts
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

refactor: ♻️ make endpoint's summaries consistent (#141)
  .github/actions/setup/action.yml
  backend/package.json
  backend/src/routes/auth.ts
  backend/src/routes/projects.$projectId.ts
  backend/src/routes/projects.ts
  backend/src/routes/tasks.$taskId.ts
  backend/src/routes/tasks.ts
  backend/src/routes/users.ts
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

feat: ✨ verify wether or not password is strong
  .vscode/settings.json
  backend/package.json
  backend/src/routes/auth.ts
  backend/src/utils/is-password-strong.ts
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

feat: ✨ verify wether or not password is strong (#142)
  .vscode/settings.json
  backend/package.json
  backend/src/routes/auth.ts
  backend/src/utils/is-password-strong.ts
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

feat: ✨ add view task details
  .github/actions/setup/action.yml
  bun.lockb
  frontend/package.json
  frontend/src/api/edit-task.tsx
  frontend/src/api/query-task.ts
  frontend/src/components/task-details.tsx
  frontend/src/components/tasks-table-columns.tsx
  frontend/src/components/tasks-table-row-actions.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/projects.$projectId.tasks.$taskId.tsx
  package.json
Due: check, sort-package-json

feat: ✨ add view task details (#143)
  .github/actions/setup/action.yml
  bun.lockb
  frontend/package.json
  frontend/src/api/edit-task.tsx
  frontend/src/api/query-task.ts
  frontend/src/components/task-details.tsx
  frontend/src/components/tasks-table-columns.tsx
  frontend/src/components/tasks-table-row-actions.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/projects.$projectId.tasks.$taskId.tsx
  package.json
Due: check, sort-package-json

ci: 👷 use `packageManager` to pull `bun` version
  .github/actions/setup/action.yml
Due: none

ci: 👷 use `packageManager` to pull `bun` version (#145)
  .github/actions/setup/action.yml
Due: none

feat: ✨ add tasks' history to project by id view
  bun.lockb
  frontend/package.json
  frontend/src/components/edit-project.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/tasks-timeline.tsx
  frontend/src/routes/projects.$projectId.index.tsx
  frontend/src/utils/select.spec.ts
  frontend/src/utils/select.ts
  package.json
Due: check, sort-package-json

feat: ✨ add tasks' history to project by id view (#144)
  bun.lockb
  frontend/package.json
  frontend/src/components/edit-project.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/tasks-timeline.tsx
  frontend/src/routes/projects.$projectId.index.tsx
  frontend/src/utils/select.spec.ts
  frontend/src/utils/select.ts
  package.json
Due: check, sort-package-json

refactor: ♻️ use pathless route for auth
  frontend/src/components/create-task-form.tsx
  frontend/src/components/delete-project.tsx
  frontend/src/components/edit-project.tsx
  frontend/src/components/project-actions.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/task-details.tsx
  frontend/src/components/tasks-timeline.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/_auth/projects.$projectId.index.tsx
  frontend/src/routes/_auth/projects.$projectId.tasks.$taskId.tsx
  frontend/src/routes/_auth/projects.$projectId.tasks.index.tsx
  frontend/src/routes/_auth/projects.$projectId.tasks.new.tsx
  frontend/src/routes/_auth/projects.$projectId.tasks.tsx
  frontend/src/routes/_auth/projects.$projectId.tsx
  frontend/src/routes/_auth/projects.index.tsx
  frontend/src/routes/_auth/projects.new.tsx
  frontend/src/routes/_auth/projects.tsx
  frontend/src/routes/_auth/route.tsx
Due: check

refactor: ♻️ use pathless route for auth (#146)
  frontend/src/components/create-task-form.tsx
  frontend/src/components/delete-project.tsx
  frontend/src/components/edit-project.tsx
  frontend/src/components/project-actions.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/task-details.tsx
  frontend/src/components/tasks-timeline.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/_auth/projects.$projectId.index.tsx
  frontend/src/routes/_auth/projects.$projectId.tasks.$taskId.tsx
  frontend/src/routes/_auth/projects.$projectId.tasks.index.tsx
  frontend/src/routes/_auth/projects.$projectId.tasks.new.tsx
  frontend/src/routes/_auth/projects.$projectId.tasks.tsx
  frontend/src/routes/_auth/projects.$projectId.tsx
  frontend/src/routes/_auth/projects.index.tsx
  frontend/src/routes/_auth/projects.new.tsx
  frontend/src/routes/_auth/projects.tsx
  frontend/src/routes/_auth/route.tsx
Due: check

feat: ✨ use metadata API to provide enums to client
  backend/src/index.ts
  backend/src/routes/metadata.ts
  backend/src/schemas/constants.ts
  backend/src/schemas/projects.ts
  frontend/src/api/query-metadata.ts
  frontend/src/components/create-task-form.tsx
  frontend/src/components/tasks-table-row-actions.tsx
  frontend/src/constants/tasks.ts
Due: check

feat: ✨ use metadata API to provide enums to client (#147)
  backend/src/index.ts
  backend/src/routes/metadata.ts
  backend/src/schemas/constants.ts
  backend/src/schemas/projects.ts
  frontend/src/api/query-metadata.ts
  frontend/src/components/create-task-form.tsx
  frontend/src/components/tasks-table-row-actions.tsx
  frontend/src/constants/tasks.ts
Due: check

fix: 🐛 add missing descriptions to dialogs
  frontend/src/components/delete-project.tsx
  frontend/src/components/edit-project.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/rename-task-action.tsx
  frontend/src/components/tasks-history.tsx
  frontend/src/routes/_auth/projects.$projectId.index.tsx
Due: check

fix: 🐛 add missing descriptions to dialogs (#148)
  frontend/src/components/delete-project.tsx
  frontend/src/components/edit-project.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/rename-task-action.tsx
  frontend/src/components/tasks-history.tsx
  frontend/src/routes/_auth/projects.$projectId.index.tsx
Due: check

refactor: ♻️ capitalize models in API schemas
  backend/src/routes/metadata.ts
  backend/src/routes/projects.$projectId.ts
  backend/src/routes/projects.ts
  backend/src/routes/tasks.$taskId.ts
  backend/src/routes/tasks.ts
  backend/src/routes/users.ts
  frontend/src/components/tasks-table-columns.tsx
  frontend/src/components/tasks-table-priority-cell.tsx
  frontend/src/components/tasks-table-row-actions.tsx
  frontend/src/components/tasks-table-status-cell.tsx
  frontend/src/utils/select.ts
Due: check

refactor: ♻️ capitalize models in API schemas (#149)
  backend/src/routes/metadata.ts
  backend/src/routes/projects.$projectId.ts
  backend/src/routes/projects.ts
  backend/src/routes/tasks.$taskId.ts
  backend/src/routes/tasks.ts
  backend/src/routes/users.ts
  frontend/src/components/tasks-table-columns.tsx
  frontend/src/components/tasks-table-priority-cell.tsx
  frontend/src/components/tasks-table-row-actions.tsx
  frontend/src/components/tasks-table-status-cell.tsx
  frontend/src/utils/select.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  sort-package-json: any of: {,**/}package.json
