Repository jimmy-guzman/ahorita: changes, and which lefthook commands are due for each by the changed paths.
All: check, sort-package-json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bunx biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    'sort-package-json':
      #  This allows the "package.json" to included from both the root and sub directories
      glob: '{,**/}package.json'
      run: bunx sort-package-json {staged_files} && git update-index --again

fix: 🐛 add fallback redirect login url
  .vscode/settings.json
  frontend/src/routes/groups/$groupId/route.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-name-cell.tsx
  frontend/src/routes/groups/new/-components/create-group-form.tsx
  frontend/src/routes/groups/route.lazy.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/signup.tsx
Due: check

fix: 🐛 add fallback redirect login url (#53)
  .vscode/settings.json
  frontend/src/routes/groups/$groupId/route.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-name-cell.tsx
  frontend/src/routes/groups/new/-components/create-group-form.tsx
  frontend/src/routes/groups/route.lazy.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/signup.tsx
Due: check

docs: 📝 update README with correct technologies
  README.md
Due: none

docs: 📝 update README with correct technologies (#54)
  README.md
Due: none

chore: 🤖 bump a few frontend deps
  backend/package.json
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

chore: 🤖 bump a few frontend deps (#56)
  backend/package.json
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

feat: ✨ improve rename task UX by avoiding inline edit
  backend/src/routes/groups.ts
  bun.lockb
  frontend/package.json
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-task.ts
  frontend/src/routes/groups/$groupId/tasks/-components/columns.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/rename-task-action.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-name-cell.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-row-actions.tsx
  frontend/src/routes/groups/$groupId/tasks/-hooks/use-tasks-form.ts
  frontend/src/routes/groups/$groupId/tasks/index.tsx
Due: check, sort-package-json

feat: ✨ improve rename task UX by avoiding inline edit (#55)
  backend/src/routes/groups.ts
  bun.lockb
  frontend/package.json
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-task.ts
  frontend/src/routes/groups/$groupId/tasks/-components/columns.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/rename-task-action.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-name-cell.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-row-actions.tsx
  frontend/src/routes/groups/$groupId/tasks/-hooks/use-tasks-form.ts
  frontend/src/routes/groups/$groupId/tasks/index.tsx
Due: check, sort-package-json

refactor: ♻️ just use `daisyui` modal + `react`
  bun.lockb
  frontend/package.json
  frontend/src/routes/groups/$groupId/tasks/-components/rename-task-action.tsx
Due: check, sort-package-json

refactor: ♻️ just use `daisyui` modal + `react` (#57)
  bun.lockb
  frontend/package.json
  frontend/src/routes/groups/$groupId/tasks/-components/rename-task-action.tsx
Due: check, sort-package-json

chore: 🤖 bump `@tanstack/react-query` to 5.27.5
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

chore: 🤖 bump `@tanstack/react-query` to 5.27.5 (#58)
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

feat: ✨ add ability to edit tasks' labels
  backend/src/routes/tasks.ts
  frontend/src/constants/tasks.ts
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-row-actions.tsx
Due: check

feat: ✨ add ability to edit tasks' labels (#59)
  backend/src/routes/tasks.ts
  frontend/src/constants/tasks.ts
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-row-actions.tsx
Due: check

feat: ✨ add confirmation before deleting
  frontend/src/components/dialog.tsx
  frontend/src/hooks/use-dialog.ts
  frontend/src/routes/groups/$groupId/tasks/-components/delete-task-action.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/rename-task-action.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-row-actions.tsx
Due: check

feat: ✨ add confirmation before deleting (#60)
  frontend/src/components/dialog.tsx
  frontend/src/hooks/use-dialog.ts
  frontend/src/routes/groups/$groupId/tasks/-components/delete-task-action.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/rename-task-action.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/tasks-table-row-actions.tsx
Due: check

refactor: ♻️ back to `@radix-ui/react-*` for dialogs
  bun.lockb
  frontend/package.json
  frontend/src/components/dialog.tsx
  frontend/src/hooks/use-dialog.ts
  frontend/src/routes/groups/$groupId/tasks/-components/delete-task-action.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/rename-task-action.tsx
Due: check, sort-package-json

refactor: ♻️ back to `@radix-ui/react-*` for dialogs (#61)
  bun.lockb
  frontend/package.json
  frontend/src/components/dialog.tsx
  frontend/src/hooks/use-dialog.ts
  frontend/src/routes/groups/$groupId/tasks/-components/delete-task-action.tsx
  frontend/src/routes/groups/$groupId/tasks/-components/rename-task-action.tsx
Due: check, sort-package-json

chore: 🤖 bump `@tanstack/react-query` to v5.28.0
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

chore: 🤖 bump `@tanstack/react-query` to v5.28.0 (#62)
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

feat: ✨ add confirmation to group deletion
  frontend/src/routes/groups/$groupId/-components/delete-group.tsx
  frontend/src/routes/groups/$groupId/route.tsx
Due: check

feat: ✨ add confirmation to group deletion (#63)
  frontend/src/routes/groups/$groupId/-components/delete-group.tsx
  frontend/src/routes/groups/$groupId/route.tsx
Due: check

docs: 📝 add Radix to README
  README.md
Due: none

docs: 📝 add Radix to README (#64)
  README.md
Due: none

chore: 🤖 bump `drizzle-orm` to v0.30.2
  backend/package.json
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

chore: 🤖 bump `drizzle-orm` to v0.30.2 (#65)
  backend/package.json
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

feat: ✨ add profile nav dropdown to free space
  .vscode/settings.json
  bun.lockb
  frontend/package.json
  frontend/src/components/logout.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/routes/groups/-components/profile-dropdown.tsx
  frontend/src/routes/groups/route.lazy.tsx
Due: check, sort-package-json

feat: ✨ add profile nav dropdown to free space (#66)
  .vscode/settings.json
  bun.lockb
  frontend/package.json
  frontend/src/components/logout.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/routes/groups/-components/profile-dropdown.tsx
  frontend/src/routes/groups/route.lazy.tsx
Due: check, sort-package-json

docs: 📝 add neon db getting started instructions
  .vscode/settings.json
  README.md
Due: check

docs: 📝 add neon db getting started instructions (#67)
  .vscode/settings.json
  README.md
Due: check

refactor: ♻️ keep navbar actions simple w/ icons
  frontend/src/components/logout.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/routes/groups/-components/profile-dropdown.tsx
  frontend/src/routes/groups/route.lazy.tsx
Due: check

refactor: ♻️ keep navbar actions simple w/ icons (#68)
  frontend/src/components/logout.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/routes/groups/-components/profile-dropdown.tsx
  frontend/src/routes/groups/route.lazy.tsx
Due: check

chore: 🤖 bump `date-fns` to v3.5.0
  backend/package.json
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

chore: 🤖 bump `date-fns` to v3.5.0 (#69)
  backend/package.json
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

chore: 🤖 improve loading of env variables
  .env.example
  backend/package.json
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

chore: 🤖 improve loading of env variables (#70)
  .env.example
  backend/package.json
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

feat: ✨ add ability to edit group
  backend/src/routes/groups.ts
  frontend/src/api/edit-group.ts
  frontend/src/components/emoji-picker.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/groups/$groupId/-components/edit-group.tsx
  frontend/src/routes/groups/$groupId/route.lazy.tsx
  frontend/src/routes/groups/$groupId/route.tsx
  frontend/src/routes/groups/new/-components/create-group-form.tsx
Due: check

feat: ✨ add ability to edit group (#71)
  backend/src/routes/groups.ts
  frontend/src/api/edit-group.ts
  frontend/src/components/emoji-picker.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/groups/$groupId/-components/edit-group.tsx
  frontend/src/routes/groups/$groupId/route.lazy.tsx
  frontend/src/routes/groups/$groupId/route.tsx
  frontend/src/routes/groups/new/-components/create-group-form.tsx
Due: check

chore: 🤖 bump `bun` to v1.0.31
  .github/workflows/CI.yml
Due: none

chore: 🤖 bump `bun` to v1.0.31 (#72)
  .github/workflows/CI.yml
Due: none
