Repository jimmy-guzman/ahorita: changes, and which lefthook commands are due for each by the changed paths.
All: check, sort-package-json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bunx biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    'sort-package-json':
      #  This allows the "package.json" to included from both the root and sub directories
      glob: '{,**/}package.json'
      run: bunx sort-package-json {staged_files} && git update-index --again

chore: 🤖 update deps (#170)
  bun.lockb
  frontend/vite.config.ts
Due: check

chore: 🤖 add temp vite config file to .gitignore
  .gitignore
Due: none

chore: 🤖 add temp vite config file to .gitignore (#171)
  .gitignore
Due: none

chore: 🤖 bump `drizzle` to v0.35.0
  backend/package.json
  backend/src/db.ts
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

chore: 🤖 bump `zustand` to v5
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

fix: 🐛 show password input error as an error
  backend/package.json
  bun.lockb
  frontend/package.json
  frontend/src/components/password-input.spec.tsx
  frontend/src/components/password-input.tsx
  frontend/src/components/shared/text-input.spec.tsx
  frontend/vite.config.ts
Due: check, sort-package-json

fix: 🐛 show password input error as an error (#173)
  backend/package.json
  bun.lockb
  frontend/package.json
  frontend/src/components/password-input.spec.tsx
  frontend/src/components/password-input.tsx
  frontend/src/components/shared/text-input.spec.tsx
  frontend/vite.config.ts
Due: check, sort-package-json

chore: 🤖 add more `biome` rules from nursery
  backend/package.json
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/route-tree.gen.ts
  package.json
  turbo.json
Due: check, sort-package-json

chore: 🤖 add more `biome` rules from nursery (#174)
  backend/package.json
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/route-tree.gen.ts
  package.json
  turbo.json
Due: check, sort-package-json

feat: ✨ add more aactions to projects table
  frontend/src/components/delete-project.spec.tsx
  frontend/src/components/delete-project.tsx
  frontend/src/components/edit-project.spec.tsx
  frontend/src/components/edit-project.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/projects-table/columns.tsx
  frontend/src/components/task-details.spec.tsx
  frontend/src/components/task-details.tsx
  frontend/src/components/tasks-table/columns.tsx
  frontend/vite.config.ts
Due: check

feat: ✨ add more aactions to projects table (#176)
  frontend/src/components/delete-project.spec.tsx
  frontend/src/components/delete-project.tsx
  frontend/src/components/edit-project.spec.tsx
  frontend/src/components/edit-project.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/projects-table/columns.tsx
  frontend/src/components/task-details.spec.tsx
  frontend/src/components/task-details.tsx
  frontend/src/components/tasks-table/columns.tsx
  frontend/vite.config.ts
Due: check

feat: ✨ swap dark theme to synthwave
  .vscode/settings.json
  backend/src/auth.ts
  backend/src/routes/projects.ts
  frontend/src/components/overview-chart.tsx
  frontend/src/components/theme-toggle.spec.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/hooks/stores/app.ts
  frontend/src/routes/_auth/route.tsx
  frontend/tailwind.config.ts
Due: check

feat: ✨ swap dark theme to synthwave (#177)
  .vscode/settings.json
  backend/src/auth.ts
  backend/src/routes/projects.ts
  frontend/src/components/overview-chart.tsx
  frontend/src/components/theme-toggle.spec.tsx
  frontend/src/components/theme-toggle.tsx
  frontend/src/hooks/stores/app.ts
  frontend/src/routes/_auth/route.tsx
  frontend/tailwind.config.ts
Due: check

feat: ✨ add tasks filter links from dashboard
  backend/package.json
  backend/src/models/tasks.ts
  backend/src/routes/tasks.$taskId.ts
  backend/src/routes/tasks.ts
  bun.lockb
  frontend/package.json
  frontend/src/components/tasks-stats.spec.tsx
  frontend/src/components/tasks-stats.tsx
  frontend/src/routes/_auth/tasks.index.tsx
  package.json
Due: check, sort-package-json

feat: ✨ add tasks filter links from dashboard (#178)
  backend/package.json
  backend/src/models/tasks.ts
  backend/src/routes/tasks.$taskId.ts
  backend/src/routes/tasks.ts
  bun.lockb
  frontend/package.json
  frontend/src/components/tasks-stats.spec.tsx
  frontend/src/components/tasks-stats.tsx
  frontend/src/routes/_auth/tasks.index.tsx
  package.json
Due: check, sort-package-json

feat: ✨ add not found and error pages
  .vscode/settings.json
  backend/package.json
  bun.lockb
  frontend/package.json
  frontend/src/components/error-status.spec.tsx
  frontend/src/components/error-status.tsx
  frontend/src/components/not-found.spec.tsx
  frontend/src/components/not-found.tsx
  frontend/src/main.tsx
  frontend/src/router.tsx
  frontend/vite.config.ts
  package.json
Due: check, sort-package-json

feat: ✨ add not found and error pages (#179)
  .vscode/settings.json
  backend/package.json
  bun.lockb
  frontend/package.json
  frontend/src/components/error-status.spec.tsx
  frontend/src/components/error-status.tsx
  frontend/src/components/not-found.spec.tsx
  frontend/src/components/not-found.tsx
  frontend/src/main.tsx
  frontend/src/router.tsx
  frontend/vite.config.ts
  package.json
Due: check, sort-package-json

chore: 🤖 bump most deps to latest again
  backend/package.json
  bun.lockb
  frontend/package.json
  frontend/src/route-tree.gen.ts
  package.json
Due: check, sort-package-json

chore: 🤖 bump most deps to latest again (#180)
  backend/package.json
  bun.lockb
  frontend/package.json
  frontend/src/route-tree.gen.ts
  package.json
Due: check, sort-package-json

chore: 🤖 bump `@elysiajs/opentelemetry` to v1.1.7
  backend/package.json
  backend/src/index.ts
  backend/src/plugins/opentelemetry.ts
  bun.lockb
Due: check, sort-package-json

chore: 🤖 bump `@elysiajs/opentelemetry` to v1.1.7 (#181)
  backend/package.json
  backend/src/index.ts
  backend/src/plugins/opentelemetry.ts
  bun.lockb
Due: check, sort-package-json

chore: 🤖 bump `drizzle-kit` to v0.28.0
  backend/package.json
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

chore: 🤖 bump `drizzle-kit` to v0.28.0 (#182)
  backend/package.json
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

refactor: ♻️ leverage valibot's standard schema directly
  backend/package.json
  bun.lockb
  frontend/package.json
  frontend/src/routes/_auth/tasks.index.tsx
  frontend/src/routes/login.tsx
  package.json
Due: check, sort-package-json

refactor: ♻️ leverage valibot's standard schema directly (#183)
  backend/package.json
  bun.lockb
  frontend/package.json
  frontend/src/routes/_auth/tasks.index.tsx
  frontend/src/routes/login.tsx
  package.json
Due: check, sort-package-json

chore: 🤖 bump deps again
  backend/package.json
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

chore: 🤖 use correct import for jest-dom & vitest
  frontend/src/testing/setup.tsx
Due: check

chore: 🤖 bump `elysia` to v1.2
  backend/package.json
  bun.lock
  bun.lockb
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/components/tasks-table/priority-cell.tsx
  frontend/src/components/tasks-table/status-cell.tsx
  frontend/src/hooks/forms/edit-project.ts
  frontend/src/hooks/forms/rename-task.ts
  frontend/src/testing/utils.tsx
  package.json
Due: check, sort-package-json

chore: 🤖 bump `elysia` to v1.2 (#185)
  backend/package.json
  bun.lock
  bun.lockb
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/components/tasks-table/priority-cell.tsx
  frontend/src/components/tasks-table/status-cell.tsx
  frontend/src/hooks/forms/edit-project.ts
  frontend/src/hooks/forms/rename-task.ts
  frontend/src/testing/utils.tsx
  package.json
Due: check, sort-package-json

chore: 🤖 bump `react` to v19
  backend/package.json
  backend/src/index.ts
  bun.lock
  frontend/package.json
  frontend/src/components/delete-project.spec.tsx
  frontend/src/components/edit-project.spec.tsx
  frontend/src/components/shared/table.tsx
  frontend/src/routes/__root.tsx
Due: check, sort-package-json

chore: 🤖 bump `react` to v19 (#186)
  backend/package.json
  backend/src/index.ts
  bun.lock
  frontend/package.json
  frontend/src/components/delete-project.spec.tsx
  frontend/src/components/edit-project.spec.tsx
  frontend/src/components/shared/table.tsx
  frontend/src/routes/__root.tsx
Due: check, sort-package-json

chore: 🤖 update bun.lock, README.md
  README.md
  bun.lock
Due: none

chore: 🤖 update bun.lock, README.md (#187)
  README.md
  bun.lock
Due: none

chore: 🤖 bump root deps to latest
  backend/src/index.ts
  backend/src/routes/tasks.ts
  biome.json
  bun.lock
  frontend/src/api/delete-project.ts
  frontend/src/components/tasks-table/delete-task-action.tsx
  frontend/src/components/tasks-table/priority-cell.spec.tsx
  frontend/src/components/tasks-table/priority-cell.tsx
  frontend/src/components/tasks-table/status-cell.spec.tsx
  frontend/src/components/tasks-table/status-cell.tsx
  frontend/src/routes/_auth/route.tsx
  frontend/src/testing/utils.tsx
  package.json
Due: check, sort-package-json
