Repository jimmy-guzman/ahorita: changes, and which lefthook commands are due for each by the changed paths.
All: check, sort-package-json

check:
  run: bunx biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

sort-package-json:
  run: bunx sort-package-json {staged_files} && git update-index --again

fix: 🐛 use correct link for API docs link
  backend/package.json
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/routes/projects/route.lazy.tsx
  package.json
Due: check, sort-package-json

chore: 🤖 bump `@tanstack/react-router` to v1.31.1
  bun.lockb
  frontend/package.json
  frontend/src/routes/projects/$projectId/tasks/new/-components/create-task-form.tsx
  package.json
Due: check, sort-package-json

refactor: ♻️ group all components together
  frontend/src/components/create-project-form.tsx
  frontend/src/components/create-task-form.tsx
  frontend/src/components/delete-project.tsx
  frontend/src/components/delete-task-action.tsx
  frontend/src/components/edit-project.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/projects-menu-item.tsx
  frontend/src/components/rename-task-action.tsx
  frontend/src/components/tasks-table-columns.tsx
  frontend/src/components/tasks-table-priority-cell.spec.tsx
  frontend/src/components/tasks-table-priority-cell.tsx
  frontend/src/components/tasks-table-row-actions.tsx
  frontend/src/components/tasks-table-status-cell.spec.tsx
  frontend/src/components/tasks-table-status-cell.tsx
  frontend/src/routes/projects/$projectId/route.lazy.tsx
  frontend/src/routes/projects/$projectId/tasks/index.tsx
  frontend/src/routes/projects/$projectId/tasks/new/route.tsx
  frontend/src/routes/projects/new/route.lazy.tsx
  frontend/src/routes/projects/route.lazy.tsx
Due: check

refactor: ♻️ make routes flat
  frontend/src/route-tree.gen.ts
  frontend/src/routes/projects.$projectId.index.tsx
  frontend/src/routes/projects.$projectId.lazy.tsx
  frontend/src/routes/projects.$projectId.tasks.index.tsx
  frontend/src/routes/projects.$projectId.tasks.new.tsx
  frontend/src/routes/projects.$projectId.tasks.tsx
  frontend/src/routes/projects.$projectId.tsx
  frontend/src/routes/projects.lazy.tsx
  frontend/src/routes/projects.new.lazy.tsx
  frontend/src/routes/projects.tsx
Due: check

refactor: ♻️ use expiremental code splitting
  bun.lockb
  frontend/package.json
  frontend/src/components/emoji-picker.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/projects.$projectId.lazy.tsx
  frontend/src/routes/projects.$projectId.tasks.index.tsx
  frontend/src/routes/projects.$projectId.tsx
  frontend/src/routes/projects.lazy.tsx
  frontend/src/routes/projects.new.lazy.tsx
  frontend/src/routes/projects.new.tsx
  frontend/src/routes/projects.tsx
  frontend/src/routes/signup.tsx
  frontend/vite.config.ts
Due: check, sort-package-json

refactor: ♻️ use experimental code splitting (#115)
  bun.lockb
  frontend/package.json
  frontend/src/components/emoji-picker.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/index.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/projects.$projectId.lazy.tsx
  frontend/src/routes/projects.$projectId.tasks.index.tsx
  frontend/src/routes/projects.$projectId.tsx
  frontend/src/routes/projects.lazy.tsx
  frontend/src/routes/projects.new.lazy.tsx
  frontend/src/routes/projects.new.tsx
  frontend/src/routes/projects.tsx
  frontend/src/routes/signup.tsx
  frontend/vite.config.ts
Due: check, sort-package-json

feat: ✨ add quick links to projects & tasks create toasts
  backend/package.json
  frontend/package.json
  frontend/src/components/create-project-form.tsx
  frontend/src/components/create-task-form.tsx
  frontend/src/main.css
  frontend/src/main.tsx
Due: check, sort-package-json

feat: ✨ add quick links to projects & tasks create toasts (#116)
  backend/package.json
  frontend/package.json
  frontend/src/components/create-project-form.tsx
  frontend/src/components/create-task-form.tsx
  frontend/src/main.css
  frontend/src/main.tsx
Due: check, sort-package-json

chore: 🤖 bump `react` to v18.3.0
  .github/actions/setup/action.yml
  backend/package.json
  backend/src/index.ts
  biome.json
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

chore: 🤖 bump `react` to v18.3.0 (#117)
  .github/actions/setup/action.yml
  backend/package.json
  backend/src/index.ts
  biome.json
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

feat: ✨ add project/task name to toasts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/components/create-project-form.tsx
  frontend/src/components/create-task-form.tsx
  frontend/src/routes/__root.tsx
Due: check

feat: ✨ add project/task name to toasts (#118)
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/components/create-project-form.tsx
  frontend/src/components/create-task-form.tsx
  frontend/src/routes/__root.tsx
Due: check

feat: ✨ remove due date from tasks
  backend/src/schemas/tasks.ts
  bun.lockb
  frontend/package.json
  frontend/src/components/create-task-form.tsx
  frontend/src/components/password-input.tsx
  frontend/src/components/tasks-table-columns.tsx
  frontend/src/components/text-input.tsx
  frontend/src/routes/__root.tsx
  frontend/src/utils/cn.ts
Due: check, sort-package-json

feat: ✨ remove due date from tasks (#119)
  backend/src/schemas/tasks.ts
  bun.lockb
  frontend/package.json
  frontend/src/components/create-task-form.tsx
  frontend/src/components/password-input.tsx
  frontend/src/components/tasks-table-columns.tsx
  frontend/src/components/text-input.tsx
  frontend/src/routes/__root.tsx
  frontend/src/utils/cn.ts
Due: check, sort-package-json

feat: ✨ use `drizzle-kit` beta version
  backend/drizzle.config.ts
  backend/package.json
  bun.lockb
Due: check, sort-package-json

feat: ✨ use `drizzle-kit` beta version (#120)
  backend/drizzle.config.ts
  backend/package.json
  bun.lockb
Due: check, sort-package-json

feat: ✨ add done indicator to project
  backend/src/routes/projects.$projectId.ts
  backend/src/schemas/tasks.ts
  frontend/src/components/edit-project.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/projects-menu-item.tsx
  frontend/src/routes/projects.tsx
Due: check

feat: ✨ add done indicator to project (#121)
  backend/src/routes/projects.$projectId.ts
  backend/src/schemas/tasks.ts
  frontend/src/components/edit-project.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/projects-menu-item.tsx
  frontend/src/routes/projects.tsx
Due: check

feat: ✨ remove custom project icon
  backend/src/models/projects.ts
  backend/src/models/tasks.ts
  backend/src/routes/projects.$projectId.ts
  backend/src/routes/projects.ts
  backend/src/routes/tasks.ts
  backend/src/schemas/index.ts
  backend/src/schemas/projects.ts
  backend/src/schemas/users.ts
  bun.lockb
  frontend/package.json
  frontend/src/components/create-project-form.tsx
  frontend/src/components/edit-project.tsx
  frontend/src/components/emoji-picker.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/projects-menu-item.tsx
  frontend/src/routes/projects.tsx
Due: check, sort-package-json

feat: ✨ remove custom project icon (#122)
  backend/src/models/projects.ts
  backend/src/models/tasks.ts
  backend/src/routes/projects.$projectId.ts
  backend/src/routes/projects.ts
  backend/src/routes/tasks.ts
  backend/src/schemas/index.ts
  backend/src/schemas/projects.ts
  backend/src/schemas/users.ts
  bun.lockb
  frontend/package.json
  frontend/src/components/create-project-form.tsx
  frontend/src/components/edit-project.tsx
  frontend/src/components/emoji-picker.tsx
  frontend/src/components/project-details.tsx
  frontend/src/components/projects-menu-item.tsx
  frontend/src/routes/projects.tsx
Due: check, sort-package-json

feat: ✨ add dashboard with overview chart
  backend/package.json
  backend/src/routes/projects.ts
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/api/query-projects-totals.ts
  frontend/src/components/logout-button.tsx
  frontend/src/components/overview-chart.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/index.tsx
  frontend/src/routes/projects.index.tsx
  frontend/src/routes/projects.tsx
  package.json
Due: check, sort-package-json

feat: ✨ add dashboard with overview chart (#123)
  backend/package.json
  backend/src/routes/projects.ts
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/api/query-projects-totals.ts
  frontend/src/components/logout-button.tsx
  frontend/src/components/overview-chart.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/index.tsx
  frontend/src/routes/projects.index.tsx
  frontend/src/routes/projects.tsx
  package.json
Due: check, sort-package-json

docs: 📝 adding missing Recharts mention in README
  README.md
Due: none

docs: 📝 adding missing Recharts mention in README (#124)
  README.md
Due: none

feat: ✨ add some tasks stats to dashboard
  backend/package.json
  backend/src/routes/tasks.ts
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/api/query-tasks.ts
  frontend/src/components/tasks-stats.tsx
  frontend/src/main.tsx
  frontend/src/query-client.ts
  frontend/src/routes/login.tsx
  frontend/src/routes/projects.index.tsx
  package.json
Due: check, sort-package-json

feat: ✨ add some tasks stats to dashboard (#125)
  backend/package.json
  backend/src/routes/tasks.ts
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/api/create-project.ts
  frontend/src/api/create-task.ts
  frontend/src/api/delete-project.ts
  frontend/src/api/delete-task.ts
  frontend/src/api/edit-project.ts
  frontend/src/api/edit-task.ts
  frontend/src/api/query-tasks.ts
  frontend/src/components/tasks-stats.tsx
  frontend/src/main.tsx
  frontend/src/query-client.ts
  frontend/src/routes/login.tsx
  frontend/src/routes/projects.index.tsx
  package.json
Due: check, sort-package-json

chore: 🤖 bump `bun` to v1.1.8
  .github/actions/setup/action.yml
  backend/package.json
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

chore: 🤖 bump `bun` to v1.1.8 (#126)
  .github/actions/setup/action.yml
  backend/package.json
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

feat: ✨ close row actions when delete happens
  .github/actions/setup/action.yml
  backend/package.json
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/components/delete-task-action.tsx
  frontend/src/components/tasks-table-row-actions.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/projects.tsx
  package.json
  turbo.json
Due: check, sort-package-json

feat: ✨ close row actions when delete happens (#127)
  .github/actions/setup/action.yml
  backend/package.json
  biome.json
  bun.lockb
  frontend/package.json
  frontend/src/components/delete-task-action.tsx
  frontend/src/components/tasks-table-row-actions.tsx
  frontend/src/route-tree.gen.ts
  frontend/src/routes/projects.tsx
  package.json
  turbo.json
Due: check, sort-package-json

chore: 🤖 bump a few deps to latest
  .github/actions/setup/action.yml
  backend/package.json
  bun.lockb
  frontend/package.json
  package.json
Due: check, sort-package-json

chore: 🤖 bump `biome` to v1.8.0
  biome.json
  bun.lockb
  package.json
Due: check, sort-package-json

feat: ✨ migrate to `turso` cause `sqlite` & cheaper
  .env.example
  .vscode/settings.json
  README.md
  backend/drizzle.config.ts
  backend/package.json
  backend/src/auth.ts
  backend/src/db.ts
  backend/src/env.d.ts
  backend/src/routes/projects.$projectId.ts
  backend/src/routes/tasks.$taskId.ts
  backend/src/schemas/projects.ts
  backend/src/schemas/users.ts
  bun.lockb
  frontend/package.json
Due: check, sort-package-json

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  sort-package-json: any of: {,**/}package.json
